
<div class="row">
	<div class="col-xs-12 col-md-6 col-md-push-3">

		{{#bs-form formLayout="vertical" model=this onSubmit=(action "authenticate") as |form|}}
			{{form.element controlType="email" label="Login" placeholder="Email" property="login" required=true}}
			{{form.element controlType="password" label="Password" placeholder="Password" property="password" required=true}}
			{{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
		{{/bs-form}}


		{{#if errorMessage}}
			{{#bs-alert type="warning"}}
				<strong>Error</strong> {{errorMessage.message}}
			{{/bs-alert}}
		{{/if}}

	</div>
</div>




