
<h1>Our Start-up</h1>

<div class="container">
	<br/>
	<div class="centrer"> 
		<p> 
			We are an European company using European datacenters. <br/>
			We use dedicated servers. <br/>
			We care about performance. <br/>
			We care about the security of your data. <br/>
			Just push your code and we'll take care of the rest. <br/>
			<img src="https://rlv.zcache.fr/coeur_rouge_simple_carte_postale-r302d60a501ba4ff59805b2e599de9fed_vgbaq_8byvr_324.jpg" width="55"/>
			<br/>
			When we receive your code, we package it into a <a class="text-underline" href="http://doc.scalingo.com/buildpacks">Docker</a> container and place it on our cloud, making it instantly available and scalable.
			<br/>
			We're using the buildpack technology, thus,
			<br/>
			if your app works on <a class="text-underline" href="http://doc.scalingo.com/heroku-compatibility">Heroku</a> it will work on Scalingo.
		</p>
	</div>

	<h6 class="text-muted">
		<br/>
		Pour en savoir plus : <br/>
		<a class="text-underline" href="https://scalingo.com/">Scalingo</a>
	</h6>

</div>

{{outlet}}
